:host {
  flex: 1 1 auto;
}

.flat-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}

.flat-list .flat-item {
  font-size: 13px;
  padding-right: 8px;
  display: inline-block;
}

.flat-list .flat-item::after {
  content: ',';
  font-family: inherit;
}

.flat-list .flat-item:last-child::after {
  content: none;
}
