@import "../../../scss/material-theme";

:host {
  display: block;
}

.home-catalog-list.mat-list-base .mat-list-item {
  font-size: 14px;
}

.home-catalog-list.mat-list-base .mat-list-item .mat-list-text > *,
.home-catalog-list.mat-list-base .mat-list-option .mat-list-text > * {
  padding: 0 8px;
}

.home-catalog-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  padding: 18px 24px;
}

.home-catalog-list-group {
  padding: 16px;
}

.home-catalog-list-group-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.home-catalog-list-group-header a {
  font-size: 13px;
  font-weight: 500;
  color: #4d555d;
}

a.home-catalog-list-group-item {
  font-weight: 300;
  color: #313131;
  font-size: 15px;
  padding: 5px 0;
  display: block;
}

.home-active-menu-item {
  @extend .mat-list-item:hover;
}
