<app-container-toolbar>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
</app-container-toolbar>

<div class="p-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cumque dolore, dolores ipsum laboriosam
    laborum obcaecati pariatur soluta velit. Aliquam architecto consequatur nesciunt numquam similique. Asperiores
    blanditiis, eius! Dignissimos nihil repudiandae sapiente? Accusamus ad aperiam aspernatur ducimus enim hic inventore
    minima, nihil odit perferendis porro quaerat quasi reiciendis tempora temporibus voluptatem voluptatibus! Accusamus
    cum delectus error, illum mollitia recusandae sequi totam veritatis! Distinctio doloribus nobis non sequi sit. A
    accusamus consequuntur illum. A accusamus adipisci architecto at, dicta eveniet explicabo id illum inventore
    quisquam, similique vel velit, veniam? Beatae dolor dolorum eaque error facilis labore modi numquam porro possimus
    quasi repellat reprehenderit saepe sed similique, voluptatibus? Accusamus alias at culpa debitis enim laudantium
    maxime optio, quam quisquam voluptates? Accusamus alias aliquam at commodi delectus deleniti deserunt distinctio
    doloribus earum, enim est explicabo illum ipsum nam natus nostrum nulla officia officiis quia quibusdam quidem quo
    quos ratione reprehenderit repudiandae sunt temporibus tenetur vel veniam voluptatem! Aliquid ea eum laudantium
    placeat quia rem rerum sequi ullam voluptatum? Accusantium assumenda consectetur dicta doloremque facere fuga illo
    incidunt inventore minus necessitatibus nulla quam quod recusandae, reprehenderit rerum, sed soluta suscipit tempora
    voluptate voluptatibus? Dicta eligendi ex expedita illo, mollitia odit quam sint totam?</p>
</div>
