<mat-card (mouseenter)="mouseEnterOrLeave($event, true)"
          (mouseleave)="mouseEnterOrLeave($event, false)"
          [class]="mouseEntered ? 'mat-elevation-z11' : 'mat-elevation-z1'" class="custom-card">

  <mat-card-header></mat-card-header>

  <img alt="" mat-card-image src="{{card.imageUrl}}">

  <mat-card-title class="custom-card-title">{{card.name}}</mat-card-title>

  <mat-card-content class="custom-card-content">
    <p>
      {{card.description | shrink: 70}}
    </p>
    <app-brand-link *ngIf="card.brand" [card]="card.brand"></app-brand-link>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">

    <span class="price">{{card.price | currency:currency}}</span>

    <button [routerLink]="['/products', card.id]" class="details-button" mat-button>Подробнее</button>
  </mat-card-actions>

</mat-card>
