<button [matMenuTriggerFor]="menu" mat-button>
  <span class="login-text">{{userName$ | async}}</span>&nbsp;
  <mat-icon [inline]="true" class="login-icon">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" [xPosition]="'before'">
  <button [routerLink]="['/']" mat-menu-item>
    <span class="account-menu-item">Перейти на сайт</span>
  </button>
  <button (click)="logOut()" mat-menu-item>
    <mat-icon>close</mat-icon>
    <span class="account-menu-item">Выйти</span>
  </button>
</mat-menu>
