<app-container-toolbar>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
</app-container-toolbar>

<div class="p-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aperiam at blanditiis consequatur
    debitis dicta dignissimos ducimus eius error, eveniet ex exercitationem explicabo fugiat id iste iure magni modi
    mollitia natus nemo numquam officia pariatur perferendis porro praesentium provident quae qui quis quo repellat
    similique soluta sunt tenetur veniam voluptas voluptatibus? Adipisci, amet commodi consectetur cupiditate doloremque
    exercitationem fugiat illo impedit ipsa, ipsum iste nesciunt nulla obcaecati officiis pariatur ratione, sequi
    similique suscipit! Architecto at dolor explicabo facilis perferendis temporibus. Ab, assumenda blanditiis
    consequatur dolore dolores eaque error modi nisi non quam, quidem ratione reprehenderit sequi, sit tempore
    voluptatum.</p>
</div>
