.info-text {
  font-size: 18px;
  font-weight: 300;
}

.select-actions, .selected-actions {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  align-items: center;
}

.selected-actions {
  padding-left: 16px;
}

.selected-actions .del-action {
  color: #4d5360;
  font-weight: normal;
}
