@import "../../../../node_modules/jqueryui/jquery-ui.css";
@import "../../../../node_modules/quill/dist/quill.core.css";
@import "../../../../node_modules/quill/dist/quill.snow.css";
@import "../../../../node_modules/quill/dist/quill.bubble.css";

.editor {
  padding: 8px;
  background: #ffffff;
}

.ql-toolbar.ql-snow, .ql-container.ql-snow {
  border: 1px solid #e0e0e0;
}

