<div *ngIf="isLessThanMd$ | async; else tmpl1">
  <button [disableRipple]="true" [matMenuTriggerFor]="matModeMenu" aria-label="Layout mode" class="sort-button"
          mat-icon-button>
    <mat-icon>{{activeModeIcon}}</mat-icon>
  </button>
  <mat-menu #matModeMenu="matMenu">
    <button (click)="enableListViewMode()" [disabled]="listModeEnabled"
            mat-menu-item>
      <mat-icon>{{viewListIcon}}</mat-icon>
      <span>Список</span>
    </button>
    <button (click)="enableCardViewMode()" [disabled]="cardModeEnabled"
            mat-menu-item>
      <mat-icon>{{viewCardIcon}}</mat-icon>
      <span>Карточки</span>
    </button>
  </mat-menu>
</div>

<ng-template #tmpl1>
  <button (click)="enableListViewMode()" [disableRipple]="true" [disabled]="listModeEnabled"
          mat-icon-button>
    <mat-icon>{{viewListIcon}}</mat-icon>
  </button>
  <button (click)="enableCardViewMode()" [disableRipple]="true" [disabled]="cardModeEnabled"
          mat-icon-button>
    <mat-icon>{{viewCardIcon}}</mat-icon>
  </button>
</ng-template>
