<div class="p-4">

  <app-overlay-loader [hideContentWhenLoading]="false"
                      [isLoading]="isLoading"
                      [overlayStyles]="{'background-color': 'rgb(255, 255, 255)'}">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">

      <form [formGroup]="form" fxFlex="256px" fxFlex.lt-md="grow" fxFlexOrder="1" fxFlexOrder.lt-md="3"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutAlign.gt-sm="start stretch"
            fxLayoutGap="30px">
        <mat-form-field appearance="fill">
          <mat-label>Текущий пароль</mat-label>
          <input [formControlName]="'currentPassword'" matInput>
          <mat-error *ngFor="let error of keysOf(form.get('currentPassword').errors)">
            {{errorMessageByCode(error)}}
          </mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
          <mat-label>Новый пароль</mat-label>
          <input [formControlName]="'newPassword'" matInput>
          <mat-error *ngFor="let error of keysOf(form.get('newPassword').errors)">
            {{errorMessageByCode(error)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Повторите новый пароль</mat-label>
          <input [formControlName]="'confirmNewPassword'" matInput>
          <mat-error *ngFor="let error of keysOf(form.get('confirmNewPassword').errors)">
            {{errorMessageByCode(error)}}
          </mat-error>
        </mat-form-field>
        <button (click)="updatePassword()" [color]="'primary'" [disabled]="!form.valid" fxFlexAlign="end" mat-button>
          Изменить пароль
        </button>
      </form>

      <mat-divider [vertical]="true" fxFlex="none" fxFlexOrder="2" fxHide.lt-md fxShow></mat-divider>

      <mat-list *ngIf="passwordOptions" dense fxFlex fxFlex.lt-md="grow" fxFlexOrder="3" fxFlexOrder.lt-md="1">

        <div class="text-muted" mat-subheader>
          <mat-icon>info</mat-icon>
          <span class="pl-2">Требования к паролю</span>
        </div>

        <ng-container *ngIf="passwordOptions.requireDigit">
          <mat-list-item class="h-auto py-2">
            {{ errorMessageByCode('passwordRequiresDigit')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
          <mat-list-item *ngIf="passwordOptions.requiredUniqueChars > 0" class="h-auto py-2">
            {{ errorMessageByCode('passwordRequiresUniqueChars')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
          <mat-list-item *ngIf="passwordOptions.requiredLength > 0" class="h-auto py-2">
            {{ errorMessageByCode('passwordTooShort')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="passwordOptions.requireDigit">
          <mat-list-item class="h-auto py-2">
            {{ errorMessageByCode('passwordRequiresDigit')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="passwordOptions.requireLowercase">
          <mat-list-item class="h-auto py-2">
            {{ errorMessageByCode('passwordRequiresLower')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="passwordOptions.requireUppercase">
          <mat-list-item class="h-auto py-2">
            {{ errorMessageByCode('passwordRequiresUpper')}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="passwordOptions.requireUppercase">
          <mat-list-item class="h-auto py-2">
            {{ errorMessageByCode('requireUppercase')}}
          </mat-list-item>
        </ng-container>
      </mat-list>

    </div>

  </app-overlay-loader>

</div>
