<app-overlay-loader [disableSpinner]="!!page" [hideContentWhenLoading]="false" [isLoading]="isLoading"
                    [overlayStyles]="{'background-color': 'rgb(255,255,255, .5)', 'justify-content': 'flex-start'}"
                    class="px-4 py-3">

  <div *ngIf="isEmpty" class="p-4" fxLayout="row" fxLayoutAlign="center center" style="font-size:18px">
    В этом каталоге нет продуктов.
  </div>

  <ng-container *ngIf="page">

    <div class="mb-3" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">

      <button style="color:#656565" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>{{viewIcon}}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="enableListViewMode()" [disabled]="listModeEnabled">
          <mat-icon>{{viewListIcon}}</mat-icon>
          <span>Список</span>
        </button>
        <button mat-menu-item (click)="enableCardViewMode()" [disabled]="cardModeEnabled">
          <mat-icon>{{viewCardIcon}}</mat-icon>
          <span>Карточки</span>
        </button>
      </mat-menu>

      <div (matSortChange)="sortChange($event)" [matSortDisabled]="isLoading" fxFlex="nogrow" matSort>
        <div mat-sort-header="price">цена</div>
      </div>

      <app-pagination [totalItems]="page.totalItems"
                      [pageIndex]="page.pageNumber - 1"
                      [pageSize]="10"
                      (pageIndexChange)="paginationChange2($event)"></app-pagination>
    </div>

    <div class="px-1" style="height: 8px;background-color:#ffffff; z-index: 99999;position:relative">
      <mat-progress-bar *ngIf="isLoading;" [color]="'primary'" mode="indeterminate"
                        style="height: 2px"></mat-progress-bar>
    </div>


    <app-product-layout [cardSize]="4" [cards]="page.items" [mode]="viewMode"></app-product-layout>

    <div fxFlexFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="32px">

      <mat-paginator (page)="paginationChange($event)" [disabled]="isLoading" [hidePageSize]="true"
                     [length]="page.totalItems"
                     [pageIndex]="page.pageNumber - 1" [pageSize]="10"
                     [showFirstLastButtons]="true"
                     class="paginator-no-side-spaces"
                     fxFlex="nogrow"
                     style="background: none;margin-right:-13px"></mat-paginator>

    </div>
  </ng-container>

</app-overlay-loader>
