<div>
  <mat-form-field appearance="fill" class="d-block w-100">
    <mat-label>Поиск</mat-label>
    <input (ngModelChange)="searchChange($event)" [(ngModel)]="searchTitle" matInput
           placeholder="Поиск">
    <mat-error></mat-error>
  </mat-form-field>
</div>
<div>
  <mat-selection-list #selectionList (selectionChange)="selectionChange($event)" [multiple]="false">
    <div class="list-header" mat-subheader>

      <button (click)="restoreClick()" *ngIf="canBeRestored"
              [matTooltip]="'Вернуть в исходное состояние'"
              class="mat-icon-button-mini list-header-btn mr-2" mat-icon-button>
        <mat-icon>settings_backup_restore</mat-icon>
      </button>

      <button (click)="emptyClick()" *ngIf="hasSelected" [matTooltip]="'Без каталога'"
              class="mat-icon-button-mini list-header-btn"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>

      <div class="flex-fill"></div>

      <div (matSortChange)="sortChange($event)" class="mx-2" matSort>
        <div mat-sort-header="title">Название</div>
      </div>

      <mat-paginator #paginator (page)="paginationChange($event)"
                     [hidePageSize]="true"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>

    </div>

    <app-overlay-loader [isLoading]="isLoading">
      <ng-container *ngIf="page">
        <mat-list-option *ngFor="let brand of page.items" [selected]="isSelected(brand)" [value]="brand">
          {{brand.title}}
        </mat-list-option>
      </ng-container>
    </app-overlay-loader>

  </mat-selection-list>
</div>

