<div fxLayout="row" fxLayoutAlign="center center">
  <span class="basket-text">Корзина</span>
  <button [routerLink]="'/basket'" fxLayout="row"
          fxLayoutAlign="center center" mat-icon-button
          style="margin-right:8px">
    <span [matBadgeColor]="'warn'" [matBadgeDisabled]="(!(basketProductsSubject$ | async))" [matBadgeOverlap]="true"
          [matBadgeSize]="'small'" class="basket-badge"
          matBadge="{{getTotalCount(basketProducts)}}"></span>
    <mat-icon [inline]="true" style="font-size:24px;">shopping_cart</mat-icon>
  </button>
</div>
