<div class="p-4">
  <app-overlay-loader [disableSpinner]="!!page" [hideContentWhenLoading]="false" [isLoading]="!page || isLoading"
                      [overlayStyles]="{'background-color': 'rgb(255,255,255, .5)', 'justify-content': 'flex-start'}">

    <ng-container *ngIf="page">
      <div class="mb-3" fxFlexFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="32px">

        <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

          <mat-form-field [hideRequiredMarker]="true" appearance="legacy" style="width: 100px">
            <input [formControl]="searchFormControl" matInput
                   placeholder="Id заказа">
          </mat-form-field>

        </div>

        <div (matSortChange)="sortChange($event)" [matSortDisabled]="isLoading" fxFlex="nogrow" matSort>
          <div mat-sort-header="date">Дата</div>
        </div>

        <mat-paginator (page)="paginationChange($event)" [disabled]="isLoading" [hidePageSize]="true"
                       [length]="page.totalItems"
                       [pageIndex]="page.pageNumber - 1" [pageSize]="10"
                       [showFirstLastButtons]="true"
                       class="paginator-no-side-spaces"
                       fxFlex="nogrow"
                       style="background: none;margin-right:-13px"></mat-paginator>

      </div>

      <div class="px-1" style="height: 8px;background-color:#ffffff; z-index: 99999;position:relative">
        <mat-progress-bar *ngIf="isLoading;" [color]="'primary'" mode="indeterminate"
                          style="height: 2px"></mat-progress-bar>
      </div>

      <mat-tab-group (selectedIndexChange)="tabIndexChange($event)" [animationDuration]="'0ms'"
                     [selectedIndex]="tabIndex">
        <mat-tab label="Все">
          <ng-template matTabContent>
            <ng-container *ngTemplateOutlet="pageTmpl"></ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="Завершенные">
          <ng-template matTabContent>
            <ng-container *ngTemplateOutlet="pageTmpl"></ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="В пути">
          <ng-template matTabContent>
            <ng-container *ngTemplateOutlet="pageTmpl"></ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="Отмененные">
          <ng-template matTabContent>
            <ng-container *ngTemplateOutlet="pageTmpl"></ng-container>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <ng-template #pageTmpl>
        <mat-list [@stagger]="page">
          <mat-list-item *ngFor="let orderVm of page.items">

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" mat-line>
              <span class="order-id">Номер заказа #{{orderVm.id}}</span>
              <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <span>Статус:</span>
                <mat-icon [inline]="true" [innerHTML]="deliveryStatusIcon(orderVm.status)"
                          class="{{deliveryStatusClass(orderVm.status)}}"></mat-icon>
              </span>

            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" mat-line>


              <span class="order-date">{{orderVm.date | date:'dd MMMM yyyy HH:mm:ss'}}</span>

              <a [routerLink]="['/~/orders', orderVm.id]">Подробнее</a>
            </div>

            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

        <ng-container *ngIf="!page?.items?.length">
          <div class="p-4">
            <span style="font-size:16px;">Нет заказов.</span>
          </div>
        </ng-container>

      </ng-template>

    </ng-container>
  </app-overlay-loader>
</div>
