:host {
  display: block;
  height: 100%;
}

.group-header {
  font-weight: 400;
  font-size: 16px;
  color: #415467;
}

.done-icon {
  font-size: 76px;
  height: auto;
  color: #46c13e;
}

.done-text {
  font-size: 32px;
}
