@import "src/fonts/roboto/fonts";

:host {
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  min-height: 100%;
  height: 100%;
}

:host, .management-sidenav-container {
  background-color: #e3e4e6;
}

.custom-expand-header {
  height: 64px;
}
