<app-header>
  <button (click)="sideNav.toggle()" class="show-hide-button" mat-icon-button>
    <mat-icon>{{toggleIcon}}</mat-icon>
  </button>
</app-header>

<mat-sidenav-container class="management-sidenav-container">
  <mat-sidenav #sideNav [fixedInViewport]="true" [fixedTopGap]="48"
               [mode]="(sidenavMode$ | async)" [opened]="true" class="toolbar-bg mat-elevation-z3 border-0">
    <app-management-nav class="d-block" style="min-width: 210px"></app-management-nav>
  </mat-sidenav>
  <mat-sidenav-content style="overflow:hidden">

    <div class="container py-3">

      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
