<div fxLayout="row" fxLayoutAlign="start center"
     style="padding:8px 16px;background:#f5f5f5">

  <button (click)="sidenav.toggle()" fxFlex="none" mat-icon-button>
    <mat-icon [inline]="true" style="font-size:24px">menu</mat-icon>
  </button>

  <ol class="breadcrumb m-0 sequence" fxFlex="grow" style="background: none;font-size:12px">
    <li class="breadcrumb-item">
      <span class="mb-0" style="font-weight: 500;font-size: 13px;color:#676c71">
        Профиль
      </span>
    </li>
  </ol>

  <button [matTooltipPosition]="'below'" [matTooltip]="'Редактировать профиль'" [routerLink]="['update']"
          fxFlex="none"
          mat-icon-button>
    <mat-icon [inline]="true" style="font-size:18px">edit</mat-icon>
  </button>

</div>

<mat-drawer-container style="background:#ffffff;min-height:200px">
  <mat-drawer #sidenav mode="{{sidenavMode}}" opened style="width:220px">
    <mat-nav-list>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="'active-menu-item'" [routerLink]="['./']"
         mat-list-item>
        <span matLine>Профиль</span>
        <span class="text-muted" matLine style="font-size:12px">Персональные данные</span>
        <mat-icon matListIcon style="color:#444444">person</mat-icon>
      </a>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="'active-menu-item'" [routerLink]="['orders']"
         mat-list-item>
        <span matLine>Заказы</span>
        <span class="text-muted" matLine style="font-size:12px"></span>
        <span class="text-muted" matLine style="font-size:12px">Список моих заказов</span>
        <mat-icon matListIcon style="color:#444444">local_shipping</mat-icon>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
