:host {
  flex: 1 1 auto;
}

.order-status .mat-select-arrow-wrapper {
  transform: none !important;
}

.order-status .mat-form-field-flex {
  border-radius: 0 !important;
  padding: 0.25em !important;
}

.order-status .mat-form-field-infix {
  border: 0 !important;
  padding: 0.25em !important;
}

.order-status .mat-form-field-underline {
  display: none !important;
}

.order-status .mat-form-field-infix {
  width: 110px !important;
}
