@import "../../../../../node_modules/fotorama/fotorama.css";

.details-title {
  color: #333333;
  margin: 0;
  font-weight: normal;
}

.group-items {
  text-align: center;
}

.specs-table {
  background: none;
}

.specs-table td {
  vertical-align: middle !important;
  font-size: 14px;
}

.specs-table td.key-column {
  white-space: nowrap;
  width: auto;
  font-weight: 500;
  padding-right: 16px;
}

.specs-table td.value-column {
  width: 100%
}

.brand {
  height: 16px;
  line-height: 16px;
  display: block;
}

.brand a.brand-link {
  font-weight: 500;
  font-size: 13px;
  color: #424242;
  display: inline-block;
  height: 100%;
}

.brand a.brand-link img {
  float: left;
  display: block;
  height: 100%;
}

.price-text {
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3e;
}

.catalog-link {
  color: #3e3e3e;
}

// mat overrides
.expansion.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.expansion.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.expansion.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: none !important;
}

.select-product.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fbf9f9 !important;
}

.price-btn-badge .mat-badge-content {
  background-color: #7f90c1 !important;
}

.group-select .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.group-select .mat-form-field-underline {
  display: none !important;
}

.group-select .mat-form-field-flex {
  padding: 0.25em .75em .25em .75em !important;
  background-color: #fdfdfd !important;
  border-radius: 4px !important;
}

.group-select .mat-select-arrow-wrapper {
  vertical-align: bottom !important;
}

.group-item.mat-option {
  height: auto !important;
}

.group-select.mat-form-field {
  border-radius: 4px !important;
}
