<ng-container *ngIf="viewModel">

  <div fxLayout="row" fxLayoutAlign="start center"
       style="padding:8px 16px;background:#f5f5f5">

    <ol class="breadcrumb m-0 sequence" fxFlex="grow" style="background: none;font-size:13px">
      <ng-container *ngIf="viewModel.catalogs">
        <li *ngFor="let catalog of viewModel.catalogs" class="breadcrumb-item" style="font-size: 13px;">
          <a [routerLink]="['/catalogs', catalog.id]" style="font-weight: 500;font-size: 13px;">
            {{catalog.name | uppercase}}
          </a>
        </li>
      </ng-container>
      <li class="breadcrumb-item">
        <span class="mb-0" style="font-weight: 500;font-size: 13px;color:#676c71">
          {{viewModel.name | uppercase}}
        </span>
      </li>
    </ol>
  </div>

  <div class="p-4 bg-white">

    <div class="d-block d-sm-none mb-3">
      <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="brandTemplate"></ng-container>
    </div>


    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="32px">
      <div fxFlex="calc(30% - 32px)">
        <div #images></div>
      </div>
      <div fxFlex="70">

        <div class="d-none d-sm-block">
          <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
          <ng-container *ngTemplateOutlet="brandTemplate"></ng-container>
          <mat-divider class="mb-3"></mat-divider>
        </div>

        <p [innerHTML]="viewModel.content"></p>

      </div>
    </div>


    <div class="row justify-content-between justify-content-sm-end align-items-center">
      <div class="col col-md-5 d-flex">
        <div *ngIf="selectedProduct;else tmpl1" class="group-items w-100">
          <mat-form-field appearance="fill"
                          class="group-select mat-elevation-z1 w-100">
            <mat-select (ngModelChange)="selectChange($event)" [(ngModel)]="selectedProduct"
                        [compareWith]="compareProduct">
              <mat-select-trigger>
                <div class="d-flex align-items-center">
                  <div *ngIf="selectedProduct.imageUrl" class="mr-3" style="height: 24px; flex: 0 0 24px">
                    <img alt="{{selectedProduct.name}}" src="{{selectedProduct.imageUrl}}" style="width: 100%;">
                  </div>
                  <span class="mr-3" style="overflow:hidden;text-overflow:ellipsis;">{{selectedProduct.name}}</span>
                  <span class="ml-auto"><span class="price-text">{{selectedProduct.price}} р.</span></span>
                </div>
              </mat-select-trigger>
              <mat-option *ngFor="let p of viewModel.productsInGroup" [value]="p" class="group-item">
                <div class="d-flex align-items-center py-2">
                  <div *ngIf="p.imageUrl" class="mr-3" style="height: 64px; flex: 0 0 64px">
                    <img alt="{{p.name}}" src="{{p.imageUrl}}" style="width: 100%;">
                  </div>
                  <span class="mr-3" style="overflow:hidden;text-overflow:ellipsis;">{{p.name}}</span>
                  <span class="ml-auto"><span class="price-text">{{p.price}} р.</span></span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-auto">
        <app-basket-add-button [productId]="viewModel.id"></app-basket-add-button>
      </div>
    </div>


    <ng-template #tmpl1>
      <span class="price-text ml-auto">{{viewModel.price}} р.</span>
    </ng-template>


    <div class="row">

      <div class="col">

        <mat-tab-group>
          <mat-tab label="Спецификации">
            <table *ngIf="specsDataSource" [dataSource]="specsDataSource"
                   class="specs-table mat-elevation-z0" mat-table
                   style="background:none">

              <ng-container matColumnDef="name">
                <td *matCellDef="let element" class="key-column" mat-cell>
                  {{element.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="value">
                <td *matCellDef="let element" class="value-column" mat-cell>
                  {{element.value}}
                </td>
              </ng-container>

              <tr *matRowDef="let row; columns: specsDisplayedColumns;" mat-row></tr>
            </table>
          </mat-tab>
          <mat-tab label="Отзывы">
            <br/><br/><br/>
            В РАЗРАБОТКЕ
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</ng-container>

<ng-template #titleTemplate>
  <h2 class="details-title mb-2">
    {{viewModel.name}}
  </h2>
</ng-template>

<ng-template #brandTemplate>
  <div *ngIf="viewModel.brand" class="brand mb-3">
    <a class="brand-link" matTooltip="Бренд продукта" matTooltipPosition="above"
       routerLink="/brand/{{viewModel.brand.id}}"
       target="_blank">
      <img *ngIf="viewModel.brand.imageUrl;else brandTitle" alt="{{viewModel.brand.name}}"
           src="{{viewModel.brand.imageUrl}}">
      <ng-template #brandTitle>{{viewModel.brand.name}}</ng-template>
    </a>
  </div>
</ng-template>
