<button (click)="addToBasket()" [disabled]="isLoading" color="primary" mat-raised-button matBadge="{{quantity}}"
        matBadgeColor="warn"
        matBadgeOverlap="true" matBadgeSize="medium">

      <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span fxLayout fxLayoutAlign="start center" style="height:42px;width:25px">
          <mat-spinner *ngIf="isLoading" [color]="'accent'" [diameter]="20" strokeWidth="2"></mat-spinner>
          <mat-icon *ngIf="!isLoading" [inline]="true" style="height:24px;width:24px;line-height:24px;font-size:18px;">
            add_shopping_cart
          </mat-icon>
        </span>
        <span>В корзину</span>
    </span>

</button>
