.layout-sort-header {
  display: inline-block;
}

.sort-select {
  font-size: 13px;
  font-weight: 500;
  .mat-form-field-infix {
    border-top: 0;
    width: 156px;
  }
  .mat-form-field-underline {
    bottom: 0;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
