<div fxLayout="row" fxLayoutAlign="start center"
     style="padding:8px 16px;background:#f5f5f5">

  <ol class="breadcrumb m-0 sequence" fxFlex="grow" style="background: none;font-size:12px">
    <li class="breadcrumb-item">
      <h6 class="mb-0" style="font-weight: 500;font-size: 12px;color:#676c71">
        {{'Моя корзина' | uppercase}}
      </h6>
    </li>
  </ol>

</div>

<div class="p-4" style="background:#ffffff">

  <app-overlay-loader [isLoading]="isLoading" [overlayStyles]="{'background-color':'#ffffff'}">
    <ng-container *ngIf="(basketViewModel$ | async) as viewModel">

      <div *ngIf="viewModel?.basketProductViewModels?.length">

        <app-basket-items #basketItems (updated)="updated($event)"
                          [viewModel]="viewModel.basketProductViewModels"
                          class="d-block overflow-auto mb-4"></app-basket-items>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="32px">
          <mat-spinner *ngIf="basketItems.isLoading" [diameter]="20" strokeWidth="2"></mat-spinner>
          <span class="basket-summary">Всего: {{getSummary(viewModel) | currency:currency}}</span>
          <button [color]="'primary'" [disabled]="basketItems.isLoading" [routerLink]="['/basket/checkout']"
                  mat-raised-button>
            Купить
          </button>
        </div>

      </div>

      <div *ngIf="!viewModel?.basketProductViewModels?.length" class="position-absolute h-100 w-100"
           fxLayout="row"
           fxLayoutAlign="center center">
        <h4 style="font-weight: 300">Корзина пуста.</h4>
      </div>

    </ng-container>

  </app-overlay-loader>
</div>
