:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  background-color: #ffffff;
}

.image {
  display: block;
  flex: 0 1 auto;
  margin-right: 32px;
  max-width: 120px;
  max-height: 120px;
}

.content {
  flex: 1 1 auto;

  .content-header {
    margin: 0 0 16px 0;

    a.details-link {
      font-size: 14px;
      color: #2f5680;
      font-weight: 500;
    }

    a:hover.details-link {
      font-size: 14px;
      color: #2f5680;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .content-body {
    margin: 0 0 16px 0;
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .brand-link {
      white-space: nowrap;
      flex: 1 0 auto;
    }

    .price {
      white-space: nowrap;
      font-weight: 500;
      flex: 0 0 0;
      margin-left: auto;
    }
  }
}
