:host {
  flex: 1 1 auto;
}

.send-btn {
  font-size: 12px;
  line-height: 31px;
  padding: 0 9px;
  background-color: #566686;
  color: #ffffff;
}

.expand-header-chip.image-count-chip {
  background-color: #819bba !important;
}
