<div *ngIf="viewModels" class="carousel slide" data-ride="carousel" id="carouselNewestProducts">
  <div class="carousel-inner">
    <div *ngFor="let vm of viewModels;let i = index" [ngClass]="{'active': i == 0}" class="carousel-item">

      <a [routerLink]="['/products', vm.id]" class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <img alt="{{vm.title}}" src="{{vm.imageUrl}}" style="height: 194px">
      </a>

      <div class="carousel-caption d-none d-md-block px-4">

        <h5 style="font-size: 16px; color: #404040">{{vm.title}}</h5>
        <p class="description text-muted">{{vm.description}}</p>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#carouselNewestProducts" role="button">
    <mat-icon aria-hidden="true" style="color:#404040">arrow_back</mat-icon>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carouselNewestProducts" role="button">
    <mat-icon aria-hidden="true" style="color:#404040">arrow_forward</mat-icon>
    <span class="sr-only">Next</span>
  </a>
</div>
