<div #toolbar>
    <span class="ql-formats">
      <select class="ql-size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
    </span>

  <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
    </span>

  <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>

  <span class="ql-formats">
      <select class="ql-header">
        <option value="6"></option>
        <option value="5"></option>
        <option value="4"></option>
        <option value="3"></option>
        <option value="2"></option>
        <option value="1"></option>
      </select>
    </span>

  <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>

  <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>

  <span class="ql-formats">
      <button class="ql-link"></button>
    </span>

  <span class="ql-formats">
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>

  <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>

  <span class="ql-formats">
      <button class="ql-direction" value="rtl"></button>
      <select class="ql-align"></select>
    </span>

</div>

<div #editor class="editor"></div>
