<app-container-toolbar>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
</app-container-toolbar>

<div class="p-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolor dolorem esse excepturi harum id illo impedit
    laborum libero, nam omnis optio pariatur quaerat, recusandae sequi similique sit, tempore temporibus voluptatibus
    voluptatum! Adipisci, impedit iure magnam modi nemo numquam officiis quas quibusdam quisquam recusandae, rerum sed
    sequi tenetur veritatis voluptatem. Animi cumque iusto obcaecati quae voluptates. Asperiores autem consequatur
    dignissimos dolorem, et eveniet fuga in ipsa minima officia quod repellendus sunt suscipit tempore voluptates.
    Exercitationem fuga impedit omnis provident vitae!</p>
</div>
