:host {
  display: flex;
  flex: 1 1 auto;
  padding: 32px 16px;
  align-items: center;
  justify-content: center;
}

:host a.link {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  display: inline-block;
}

:host a.link img {
  float: left;
  display: block;
  width: 100%;
}
