:host {
  display: block;
  padding: 24px;
  background-color: #ffffff;
}

a.view-link {
  font-size: 14px;
  color: #2f5680;
  font-weight: 500;
}

a:hover.view-link {
  font-size: 14px;
  color: #2f5680;
  font-weight: 500;
  text-decoration: underline;
}

.brand {
  height: 10px;
  line-height: 10px;
  display: block;
}

.brand a.brand-link {
  font-weight: 500;
  font-size: 13px;
  color: #424242;
  display: inline-block;
  height: 100%;
}

.brand a.brand-link img {
  float: left;
  display: block;
  height: 100%;
}

.catalog-link {
  font-size: 12px;
}
