<ng-container *ngIf="searchValue?.length > 0">
  <app-overlay-loader [isLoading]="isLoading" style="max-height: calc(100% - 212px);">
    <ng-container *ngIf="page">
      <div *ngIf="page.totalItems === 0" fxLayout="row" fxLayoutAlign="center center" style="height: 200px">
        <span class="no-results-text">Нет результатов поиска.</span>
      </div>
      <div *ngIf="page.totalItems > 0" class="py-4 px-5" fxLayout="row" fxLayoutAlign="end center">
        <mat-paginator (page)="paginationChange($event)" [disabled]="isLoading" [hidePageSize]="true"
                       [length]="page.totalItems"
                       [pageIndex]="page.pageIndex - 1" [pageSize]="10"
                       [showFirstLastButtons]="true"
                       class="custom-paginator paginator-no-side-spaces"
                       fxFlex="nogrow"
                       style="background: none;margin-right:-13px"></mat-paginator>
      </div>

      <div class="header-search">

        <div *ngFor="let product of page.items" class="search-item" fxLayout="row" fxLayoutAlign="start center"
             fxLayoutGap="16px">

          <div fxFlex="nogrow">

            <img *ngIf="product.imageUrl" alt="{{product.name}}" src="{{product.imageUrl}}"
                 style="max-height:80px; max-width:80px; display: block; border: 5px solid #ffffff; background-color: #ffffff;">

          </div>

          <div fxFlex="noshrink" fxLayout="column" fxLayoutGap="8px">

            <a [routerLink]="['/products', product.id]" class="link">
              {{product.name}}
            </a>

            <p class="description">
              {{product.description?.length > 5 ? product.description.slice(0, 80).concat('...') : product.description}}
            </p>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
              <div *ngIf="product?.brand.id" class="brand ml-auto" fxFlex="noshrink">
                <a [routerLink]="['/brands', product.brand.id]" class="brand" matTooltip="Бренд продукта"
                   matTooltipPosition="above"
                   target="_blank">
                  <img *ngIf="product.brand.imageUrl;else brandTitle" alt="{{product.brand.name}}"
                       src="{{product.brand.imageUrl}}"
                       style="max-height: 25px; max-width: 50px">
                  <ng-template #brandTitle>{{product.brand.name}}</ng-template>
                </a>
              </div>
              <div fxFlex="nogrow">
                <span class="price">{{product.price | currency:currency}}</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </ng-container>
  </app-overlay-loader>
</ng-container>
