.header {
  position: sticky;
  top: 0;
  z-index: 999;
  color: rgb(255, 255, 255);
  background-color: #424a56;
}

.side-nav-hide-show {
  color: #444444;
}

.header-management-text {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
