<mat-card [ngClass.lt-sm]="'card-full-screen'"
          class="card mat-elevation-z24">
  <app-overlay-loader [hideContentWhenLoading]="false" [isLoading]="isLoading"
                      [loadingMessage]="loadingMessage"
                      [overlayStyles]="{background: 'rgb(255,255,255)'}">

    <mat-card-header class="mb-3">
      <mat-icon [inline]="true" class="avatar" mat-card-avatar>
        lock
      </mat-icon>
      <mat-card-title>Авторизация</mat-card-title>
      <mat-card-subtitle>Войти в существующую учетную запись
        <small>
          или <a [routerLink]="['/signUp']" style="color:#0277bd;text-decoration:underline">
          зарегистрироваться
        </a>
        </small>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm" class="mb-4">

        <mat-form-field appearance="legacy" class="d-block w-100 mb-4">
          <mat-label>Логин</mat-label>
          <input formControlName="username" id="username" matInput placeholder="Ваш логин">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Это поле обязательное для заполнения
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="d-block w-100 mb-4">
          <mat-label>Пароль</mat-label>
          <input [type]="passwordInputType" formControlName="password" id="password" matInput placeholder="Ваш пароль">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Это поле обязательное для заполнения
          </mat-error>
          <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
            <mat-icon [inline]="true" style="font-size:21px;color:#5b5b5b">{{passwordInputIcon}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="mb-4" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px"
             style="font-size:13px">
          <a href="#">
            <span>&nbsp;{{'Восстановить аккаунт' | lowercase}}</span>
          </a>
          <mat-checkbox color="primary" formControlName="rememberMe" labelPosition="before">
            {{'Запомнить' | lowercase}}
          </mat-checkbox>
        </div>

        <button [disabled]="isLoading" class="d-block w-100" color="primary" mat-flat-button type="submit">
          Войти
        </button>

      </form>

    </mat-card-content>
  </app-overlay-loader>
</mat-card>
