<mat-card>

  <mat-form-field appearance="fill" class="d-block w-100">
    <mat-label>Поиск</mat-label>
    <input (ngModelChange)="searchChange($event)" [(ngModel)]="searchTitle" matInput placeholder="Поиск">
    <mat-error></mat-error>
  </mat-form-field>

  <div class="page">

    <mat-list>

      <div class="page-header" mat-subheader>

        <mat-checkbox (change)="pageSelectChange($event.checked)" *ngIf="hasPageItems()"
                      [checked]="isAllOnPageSelected()"
                      [indeterminate]="someOnPageSelected()"
                      class="checkbox-wrapper">
        </mat-checkbox>

        <div class="page-header-actions">

          <button (click)="deleteClick($event)" *ngIf="!selection.isEmpty()" class="page-header-action del-action"
                  mat-icon-button>
            <mat-icon matBadge="{{selection.selected.length}}"
                      matBadgeOverlap="true" matBadgePosition="above"
                      matBadgeSize="small">delete
            </mat-icon>
          </button>
        </div>
        <div class="page-header-navigates">

          <div (matSortChange)="sortChange($event)" class="page-header-navigate" matSort>
            <div mat-sort-header="title">Название</div>
          </div>

          <mat-paginator #paginator (page)="paginationChange($event)" [hidePageSize]="true"
                         [pageSize]="10"
                         [showFirstLastButtons]="true"
                         class="page-header-navigate">
          </mat-paginator>
        </div>
      </div>

      <mat-divider class="mb-2"></mat-divider>

      <app-overlay-loader [isLoading]="isLoading">
        <ng-container *ngIf="page">
          <ng-container *ngFor="let group of page.items">
            <mat-list-item>
              <div class="checkbox-wrapper" mat-list-avatar>
                <mat-checkbox (change)="selectChange($event.checked, group)" [checked]="isSelected(group)"
                              class="d-flex mt-1" disableRipple="true">
                </mat-checkbox>
              </div>
              <div class="main-line" mat-line>
                <a routerLink="{{group.id}}/edit" target="_blank">
                  {{group.title}}
                </a>
              </div>
              <div class="info-line" mat-line>

                <ul *ngIf="(group.products$ | async) as products;else loader" class="flat-list">
                  <li *ngFor="let product of products" class="flat-item">
                    <a [routerLink]="['/mgmt/products/' + product.id + '/edit']" target="_blank">
                      {{product.title}}
                    </a>
                  </li>
                  <li *ngIf="products.length === 0">
                    <div class="d-flex align-items-center ml-1 position-relative"
                         style="width:18px;">
                      <mat-divider style="top:50%;bottom:auto"></mat-divider>&nbsp;
                    </div>
                  </li>
                </ul>

                <ng-template #loader>
                  <mat-spinner [diameter]="20" [strokeWidth]="1"></mat-spinner>
                </ng-template>
              </div>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </app-overlay-loader>
    </mat-list>
  </div>
</mat-card>
