<div fxLayout="row" fxLayoutAlign="start center"
     style="padding:8px 16px;background:#f5f5f5">

  <ol class="breadcrumb m-0" fxFlex="grow" style="background: none;font-size:13px">
    <li class="breadcrumb-item" style="font-size: 12px;">
          <span style="font-weight: 500;font-size: 13px;">
            <a [routerLink]="['/']" queryParamsHandling="merge">
                    {{'Главная' | uppercase}}
            </a>
          </span>
    </li>
    <li class="breadcrumb-item">
        <span class="mb-0" style="font-weight: 500;font-size: 13px;color:#676c71">
          {{'Бренды' | uppercase}}
        </span>
    </li>
  </ol>
</div>

<div class="p-4" style="background: #ffffff">

  <app-overlay-loader *ngIf="!page && isLoading" [isLoading]="true"></app-overlay-loader>

  <ng-container *ngIf="page">
    <div class="mb-3" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch"
         fxLayoutGap="32px" fxLayoutGap.lt-md="0" style="background: #f5f5f5;padding: 8px 28px;">

      <mat-form-field [hideRequiredMarker]="true" appearance="legacy" fxFlex="noshrink"
                      fxFlexOrder.lt-md="2">
        <mat-label>Поиск</mat-label>
        <input (ngModelChange)="searchChange($event)" [(ngModel)]="searchTitle" matInput placeholder="Поиск">
        <mat-hint>Название бренда</mat-hint>
      </mat-form-field>

      <div fxFlex="grow" fxFlex.gt-sm="nogrow" fxFlexOrder.lt-md="1" fxLayout="row"
           fxLayoutAlign="space-between center"
           fxLayoutGap="32px">
        <div (matSortChange)="sortChange($event)" class="d-flex" fxFlex="none" matSort>
          <div mat-sort-header="title">название</div>
        </div>

        <mat-paginator #paginator (page)="paginationChange($event)" [hidePageSize]="true"
                       [length]="page.totalItems" [pageIndex]="page.pageNumber - 1" [pageSize]="10"
                       [showFirstLastButtons]="true"
                       class="paginator-no-side-spaces"
                       fxFlex="none"
                       style="background: none;margin-right:-13px"></mat-paginator>

      </div>

    </div>

    <div class="mb-3" style="height: 2px;">
      <mat-progress-bar *ngIf="isLoading;" [color]="'primary'" mode="indeterminate"
                        style="height: 2px"></mat-progress-bar>
    </div>

    <div [@stagger]="page" class="row-fx" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div *ngFor="let brand of page.items" class="col-fx" fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="50">
        <app-brand-card [brand]="brand"></app-brand-card>
      </div>
    </div>
  </ng-container>
</div>

