<app-overlay-loader [disableSpinner]="!!page" [hideContentWhenLoading]="false" [isLoading]="isLoading"
                    [overlayStyles]="{'background-color': 'rgb(255,255,255, .5)', 'justify-content': 'flex-start'}"
                    class="px-4 py-3">

  <div *ngIf="isEmpty" class="p-4" fxLayout="row" fxLayoutAlign="center center" style="font-size:18px">
    В этом каталоге нет продуктов.
  </div>

  <ng-container *ngIf="page">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <app-layout-sort-header (sortChange)="sortChange($event)"
                              fxFlex="nogrow"></app-layout-sort-header>

      <app-pagination (pageIndexChange)="pageChange($event)"
                      [pageIndex]="page.pageIndex - 1"
                      [pageSize]="10"
                      [totalItems]="page.totalItems"
                      fxFlex="nogrow"></app-pagination>
    </div>

    <div class="px-1" style="height: 8px;background:none; z-index: 99999;position:relative">
      <mat-progress-bar *ngIf="isLoading;" [color]="'primary'" mode="indeterminate"
                        style="height: 2px"></mat-progress-bar>
    </div>

    <app-product-layout [cardSize]="5" [items]="page.items" [layoutMode]="'card'"></app-product-layout>

  </ng-container>

</app-overlay-loader>
