<!--<ul *ngIf="isAuthenticated | async" class="list-unstyled">-->
<!--  <li>-->
<!--    <a [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>-->
<!--  </li>-->
<!--</ul>-->

<div *ngIf="(isAuthenticated$ | async) else loginTmpl">
  <button [matMenuTriggerFor]="menu" mat-button>
    <span class="login-text">
      {{userName$ | async}}
    </span>
  </button>
  <mat-menu #menu="matMenu" [xPosition]="'before'">
    <button [routerLink]="['/~']" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span class="account-menu-item">Профиль</span>
    </button>
    <button [routerLink]="['/~/orders']" mat-menu-item>
      <mat-icon>local_shipping</mat-icon>
      <span class="account-menu-item">Мои заказы</span>
    </button>
    <button [routerLink]="['/~/update']" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span class="account-menu-item">Настройки</span>
    </button>

    <ng-container *ngIf="(isAdmin$ | async)">
      <mat-divider></mat-divider>
      <button [routerLink]="['/mgmt']" mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span class="account-menu-item">Администрирование</span>
      </button>
    </ng-container>

    <mat-divider></mat-divider>
    <button (click)="logOut()" mat-menu-item>
      <mat-icon>close</mat-icon>
      <span class="account-menu-item">Выйти</span>
    </button>
  </mat-menu>
</div>

<ng-template #loginTmpl>
  <a [queryParams]="returnParam" [routerLink]='["/signUp"]' class="login-link">
    Регистрация
  </a>
  <a [queryParams]="returnParam" [routerLink]='["/signIn"]' class="login-link">
    Войти
  </a>
</ng-template>
