<div class="actions">
  <div class="mr-auto">
    <button (click)="addClick(input)" color="primary" mat-button>
      Добавить
    </button>
    <input #input (change)="onFileSelect($event)" accept="image/*" multiple name="file[]" type="file">
  </div>
  <button (click)="onDeleteClick()" [disabled]="selection.isEmpty()" color="primary" mat-button>
    Удалить ({{selection.selected.length}})
  </button>
</div>
<div class="overflow-auto">
  <table [dataSource]="dataSource" class="w-100" mat-table>

    <ng-container matColumnDef="data">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <mat-spinner *ngIf="!element.data" [diameter]="30" [strokeWidth]="1"></mat-spinner>
        <img *ngIf="element.data" alt="" class="image" src="{{element.data}}">
      </td>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <th *matHeaderCellDef mat-header-cell>FileName</th>
      <td *matCellDef="let element" mat-cell> {{element.file.name}} </td>
    </ng-container>

    <ng-container matColumnDef="contentType">
      <th *matHeaderCellDef mat-header-cell>ContentType</th>
      <td *matCellDef="let element" mat-cell> {{element.file.type}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th *matHeaderCellDef mat-header-cell>Size</th>
      <td *matCellDef="let element" mat-cell> {{element.file.size}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th *matHeaderCellDef class="text-right" mat-header-cell>
        <mat-checkbox (change)="$event ? masterToggle() : null" [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [disabled]="images.length === 0"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      class="chk-0"
                      color="primary">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" class="text-right" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      class="chk-0"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"
        mat-row>
    </tr>
  </table>
</div>
