:host {
  display: block;
}

.custom-card {
  margin: 8px;
  background-color: #ffffff;
}

.custom-card-title {
  font-size: 13px;
}

.custom-card-content {
  margin-bottom: 0;
  color: #656262;
  font-size: 12px;
}

.price {
  font-size: 13px;
  margin: 0 8px;
}

.details-button {
  padding: 0 8px;
  margin: 0 !important;
}
