<div fxLayout="column" fxLayoutAlign="start stretch"
     fxLayoutGap="16px">

  <mat-card>
    <mat-form-field appearance="fill" class="d-block w-100">
      <mat-label>Название каталога</mat-label>
      <input [formControl]="name" matInput placeholder="Название" required>
      <mat-error *ngIf="name.invalid">Это поле обязательно для заполнения</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <app-upload-image-single #uploadImage></app-upload-image-single>
  </mat-card>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header style="height:64px">
      <mat-panel-title>
        Каталог
      </mat-panel-title>
      <mat-panel-description class="expand-header-info">
        <mat-chip-list [disabled]="!selectCatalogForCatalog.hasSelected" class="ml-auto mr-3">
          <mat-chip [disableRipple]="true" [matTooltipPosition]="'above'"
                    [matTooltip]="'Группа'"
                    [removable]="false"
                    [selectable]="false"
                    [selected]="true" class="expand-header-chip specs-chip"
                    color="primary">
            {{selectCatalogForCatalog.selected?.name || '&ndash;'}}</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-select-catalog-for-catalog #selectCatalogForCatalog></app-select-catalog-for-catalog>
  </mat-expansion-panel>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
    <button (click)="sendClick()" [disabled]="isLoading || !name.valid" class="send-btn ml-auto"
            mat-button>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <span>Обновить</span>
        <mat-icon>send</mat-icon>
      </div>
    </button>
  </div>

</div>
