<div class="footer-primary">
  <div class="container">

    <div class="px-3" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="36px">

      <div fxFlex="nogrow" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="32px">
        <div fxFlex="none" fxLayout="column">
          <div class="ls-group">
            <a class="ls-header">
              Item group 1
            </a>
            <ul class="ls">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
              <li><a href="#">Item 4</a></li>
            </ul>
          </div>
        </div>
        <div fxFlex="none" fxLayout="column">
          <div class="ls-group">
            <a class="ls-header">
              Item group 2
            </a>
            <ul class="ls">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
            </ul>
          </div>
        </div>
        <div fxFlex="none" fxLayout="column">
          <div class="ls-group">
            <a class="ls-header">
              Item group 3
            </a>
            <ul class="ls">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
              <li><a href="#">Item 4</a></li>
              <li><a href="#">Item 5</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<div class="footer-secondary">
  <div class="container">
    <div class="px-3" fxLayout="column">

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">

        <div [ngClass.lt-md]="'links-vertical'" class="links" fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="start start" fxLayoutAlign.gt-sm="start center">
          <a [routerLink]="['/contacts']" class="link">
            Контакты
          </a>
          <a [routerLink]="['/delivery']" class="link">
            Доставка
          </a>
          <a [routerLink]="['/about']" class="link">
            О нас
          </a>
          <a [routerLink]="['/brands']" class="link">
            Бренды
          </a>
        </div>

        <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="8px">
          <a [routerLink]="['/']" class="logo">SomaticShop</a>

          <div fxLayout="column" fxLayoutAlign="start end">
            <div class="copyright">
              <span class="copyright-item">Evgeny Pinchuk</span>
              <span class="copyright-item">evgnpn@gmail.com</span>
              <span class="copyright-item">2020</span></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
