<html>
<head>
    <link href="~/libs/material-components-web/dist/material-components-web.min.css" rel="stylesheet"/>
    <script src="~/libs/material-components-web/dist/material-components-web.min.js"></script>
</head>
<body>
    <div class="mdc-touch-target-wrapper">
        <button class="mdc-button--raised">
            <span class="mdc-button__label">Contained Button</span>
        </button>
    </div>
</body>
</html>
